<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPattern">
	
<head>
<title>Search Simios</title>
</head>

<section layout:fragment="content">
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<h1 class="panel-title aw-titulo-panel">
				<i class="fa fa-paw" aria-hidden="true"></i> MONKEYS</h1>
		</div>
			
		<div class="panel-body">
			
			<form method="POST" th:action="@{/simio/search/id}" class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-3">
						<div class="input-group">
							<input class="form-control" placeholder="Search" autofocus="autofocus"
								name="name"></input>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
					<div class="col-sm-9"></div>
				</div>
			</form>
			
			<form method="POST" th:action="@{/simio/new}" class="form-horizontal" th:object="${simio}">
				<div layout:include="Alert"></div>
				<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			 		<div th:each="error : ${#fields.detailedErrors()}">
			 			<span th:text="${error.message}"></span>
			 		</div>
				</div>
				<div class="form-group">
					<div class="col-md-1">
   					</div>
					<div class="col-md-4">
						<label for="descricao" class="control-label"> Name</label>
					</div>
					<div class="col-md-2">
						<label for="descricao" class="control-label"> Gender</label>
					</div>
					<div class="col-md-1">
						<label for="descricao" class="control-label"> Age</label>
					</div>
					<div class="col-md-2">
						<label for="descricao" class="control-label"> Group</label>
					</div>
					<div class="col-md-2">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-1">
	    				<input type="hidden" th:field="*{id}"/>
   					</div>
					<div class="col-md-4" th:classappend="${#fields.hasErrors('name')} ? has-error">
						<input type="text" class="form-control" id="name" name="name" th:field="*{name}"/>
					</div>
					<!-- 
					<div class="col-md-2" th:classappend="${#fields.hasErrors('gender')} ? has-error">
						<input type="text" class="form-control" id="gender" name="gender" th:field="*{gender}"/>
					</div>
					<div class="col-md-1" th:classappend="${#fields.hasErrors('age')} ? has-error">
						<input type="text" class="form-control" id="age" name="age" th:field="*{age}"/>
					</div>
					<div class="col-md-2" th:classappend="${#fields.hasErrors('group')} ? has-error">
						<input type="text" class="form-control" id="group" name="group" th:field="*{group}"/>
					</div>
					 -->
					<div class="col-md-5"> ---- </div>
					<div class="col-md-2">
						<button type="submit" th:unless="${isEdit}" class="btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Add Monkey</button>
						<button type="submit" th:if="${isEdit}" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-pencil"></span> Edit Monkey</button>
					</div>
				</div>
			</form>
			
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th class="text-left col-md-4">Name</th>
							<th class="text-left col-md-2">Gender</th>
							<th class="text-left col-md-1">Age</th>
							<th class="text-left col-md-2">Group</th>
							<th class="text-center col-md-2">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="simio : ${allSimios}">
							<td class="text-center" th:text="${simio.id}"></td>
							<td class="text-left" th:text="${simio.name}"></td>
							<td class="text-center" th:text="M"></td>
							<td class="text-center" th:text="1"></td>
							<td class="text-center" th:text="1"></td>
							<td class="text-center" >
								<a class="btn btn-link btn-xs" th:href="@{/simio/new/{id}(id=${simio.id})}"
									title="Edit" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
								<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmExclusionModal"
									th:attr="data-id=${simio.id}, data-name=${simio.name}"
									title="Exclude" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
								<a class="btn btn-link btn-xs"
									th:href="@{/simio/graph/{id}(id=${simio.id})}"
									title="Graph" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-check"></span>
								</a>
							</td>
						</tr>
						<tr th:if="${#lists.isEmpty(allSimios)}">
							<td colspan="6">No simios were found</td>						
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div layout:include="simio/ConfirmExclusionDialog"></div>
	</div>
</section>  
</html>