<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPattern">
	
<head>
<title>Register User</title>
</head>

<section layout:fragment="content">
    <form class="form-horizontal" method="POST" th:action="@{/user/new}" th:object="${user}">
    	
    	<div layout:include="Alert"></div>
    	<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
	 		<div th:each="error : ${#fields.detailedErrors()}">
	 			<span th:text="${error.message}"></span>
	 		</div>
		</div>
		
		<div class="alert alert-danger" th:if="${errorMessages}">
	 		<div th:each="error : ${errorMessages}">
	 			<span th:text="${error}"></span>
	 		</div>
		</div>
    	
    	<div class="panel panel-default">
    		<div class="panel-heading clearfix">
				<h1 class="panel-title aw-titulo-panel">
					<i class="fa fa-users-cog" aria-hidden="true"></i> USERS
				</h1>
			</div>
    		
    		<div class="panel-body">
    			<input type="hidden" th:field="*{id}"/>
    			<div class="form-group" th:classappend="${#fields.hasErrors('name')} ? has-error">
					<label for="name" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-4" > 
						<input type="text" class="form-control" id="name" name="name" th:field="*{name}" placeholder="Name..."/>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('login')} ? has-error">
					<label for="username" class="col-sm-2 control-label">Username</label>
					<div class="col-sm-4" > 
						<input type="text" class="form-control" id="login" name="login" th:field="*{login}" placeholder="Username..."/>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
					<label for="email" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-4" > 
						<input type="text" class="form-control" id="email" name="email" th:field="*{email}" placeholder="Email..."/>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('password')} ? has-error">
					<label for="password" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-4" > 
						<input type="password" class="form-control" id="password" name="password" th:field="*{password}" placeholder="Password..."/>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('roles')} ? has-error">
					<label for="roles" class="col-sm-2 control-label">Roles</label>
					<div class="col-sm-4" > 
						<th:block th:each="role, stat : ${roles}">
					      <div class="form-check"> 
							<input 
								class="form-check-input"
								type="checkbox" 
								th:checked="${role.checked}"
								th:value="${role.id}" 
								th:id="${__${role.id}__}"
								th:name="|roles[${stat.index}].id|"
								/>
							<label th:text="${role.name}"
								th:title="${role.description}" rel="tooltip" data-placement="top"></label>
						</div>						      							      
					    </th:block>
				    </div>
			    </div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
			</div>
    	</div>
    </form>
</section>
</html>