* {
	font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.label {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.hide {
	display: hidden !important; }
	
#graphCanvas {
	border : 1px solid #000000;
}

/*Tela grande*/
@media(min-width: 768px) {
	.panel-default {
		margin-left: 20px;
		margin-right: 20px;
	}
	
	.alert {
		margin-left: 20px;
		margin-right: 20px;
	}
}

h4.subtitle {
  font-weight: 100;
  margin-top: 50px;
  font-size: 25px; }
    
h5.subtitle {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 17px; }
  .subtitle:first-child {
    margin-top: 0; }
    
.error-title-panel {
    margin: 0;
    font-size: 40px;
    font-weight: 100; }

.aw-titulo-panel {
	float : left;
	padding-top : 2px;
}

.aw-link-panel {
	float : right;
	padding : 0px;
}

.screen-container {
	height: 70vh;
}

.control-label {
	padding-top: 5px;
}

.form-horizontal .form-group {
	margin-right: 0px;
    margin-left: 0px; }
    
.btn-primary {
	background-color: #e69138ff; 
	color: black;
	box-shadow: 0 0 5px #333; }
	
.navbar-ontop {
 background: #e69138ff;
 box-shadow: 0 0 5px #333;
 border-bottom: 1px solid #058840;
 border-top: 1px solid #058840; }
.navbar span {
  color: black; }
.navbar .navbar-header {
	width: 100%; }
.navbar .navbar-brand {
  font-size: 18px;
  color: black;
  line-height: 50px;
  text-align: center;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px 15px; }
.navbar li > a > i {
  margin-right: 2px;
  color: #87c587; }
.navbar .dropdown-menu {
  background-color: #eee !important; }
 .navbar .dropdown-menu .nav-link {
   color: #058840 !important; }
