<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPattern">
	
<head>
<title>Error</title>
</head>

<section layout:fragment="content">
	<section class="heading">
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <h1><i class="fa fa-warning" aria-hidden="true"></i>403 Access denied</h1>
                    </div>
                </div>
            </div>
        </header>
	</section>
	<section class="main-content grey-back">
        <div class="container">
        
            <div class="row mg-top-50">
                <div class="col-md-6 col-md-offset-3 col-centered">
                    <h2 class="subtitle text-center mb-5"><i class="fa fa-warning"></i> It appears you don't have access to this feature.</h2>
                    
                    <br /> 
					<a th:href="@{/menu}" class="btn  btn-primary">Back to Home Page</a>
                </div>
            </div>
        </div>
    </section>
</section>  
</html>