<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPattern">
	
<head>
<title>Graph</title>
</head>

<section layout:fragment="content">
	<img id="icon-simio" th:src="@{/images/icon-simio.jpg}" height="40" width="40" style="display: none;"/>
	
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<h1 class="panel-title aw-titulo-panel">Localization Graph</h1>
			<a class="btn btn-link aw-link-panel" th:href="@{/menu}">Back</a>
		</div>
			
		<div class="panel-body">
			<div id="graphDiv" th:attr="data-mapping=${mapping}">			
				<canvas id="graphCanvas" width="800" height="400" ></canvas>
			</div>
		</div>
	</div>
	
	<script>
		window.onload = function(){
			var mapping = $('#graphDiv').data('mapping');
			
			var index = 0;
			mapping.simios.forEach(function(simio) {
				drawSimio(mapping.positions[index]);
			    index++;
			});

		};
		
		var drawSimio = function(point) {
			var canvas = document.getElementById("graphCanvas");
			var context = canvas.getContext("2d");
			
			alert(point.x + ", " + point.y);
			
			var image = document.getElementById("icon-simio");
			
			var x = canvas.width/2 + point.x*10;
			var y = canvas.height/2 - point.y*10;
			context.drawImage(image, x, y);
			
			
		}
		

		
	</script>
</section>  
</html>