<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPattern">
	
<head>
<title>Graph</title>
</head>

<section layout:fragment="content">
	
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<h1 class="panel-title aw-titulo-panel">Localization Graph</h1>
			<a class="btn btn-link aw-link-panel" th:href="@{/menu}">Back</a>
		</div>
			
		<div class="panel-body">
			<div id="graphDiv" th:attr="data-mapping=${mapping}">			
				<canvas id="graphCanvas" width="800" height="400" ></canvas>
			</div>
		</div>
	</div>
	
	<script>
		window.onload = function(){
			var canvas = document.getElementById("graphCanvas");
			var context = canvas.getContext("2d");
			var mapping = $('#graphDiv').data('mapping');
			alert(mapping.simios);
			
			var index = 0;
			mapping.simios.forEach(function(simio) {
				drawSimio(mapping.positions[index]);
			    index++;
			});

		};
		
		var drawSimio = function(point) {
			alert(point.x + ", " + point.y);
		}
	</script>
</section>  
</html>