<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPattern">
	
<head>
<title>Map</title>
</head>

<section layout:fragment="content">
	<img id="icon-simio" th:src="@{/images/icon-simio.jpg}" height="40" width="40" style="display: none;"/>
	
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<h1 class="panel-title aw-titulo-panel">Localization Map</h1>
			<a class="btn btn-link aw-link-panel" th:href="@{/menu/search}">Back</a>
		</div>
			
		<div class="panel-body">
			<div id="graphDiv" th:attr="data-mapping=${mapping}">			
				<canvas id="graphCanvas" width="800" height="400" ></canvas>
			</div>
		</div>
	</div>
	
	<script>
		window.onload = function(){
			var mapping = $('#graphDiv').data('mapping');
			
			var index = 0;
			mapping.simios.forEach(function(simio) {
				drawSimio(mapping.positions[index], simio);
			    index++;
			});
		};
		
		var drawSimio = function(point, simio) {
			var canvas = document.getElementById("graphCanvas");
			var context = canvas.getContext("2d");
			
			var image = document.getElementById("icon-simio");
			
			var originX = canvas.width/2;
			var originY = canvas.height/2;
			
			//*10 para correção da escala de pixels - corrigir
			var x = originX + point.x*10;
			var y = originY - point.y*10;
			
			context.beginPath();
			context.moveTo(originX, originY);
			context.lineTo(x, y);
			context.strokeStyle = '#cccccc';
			context.stroke();
			
			context.drawImage(image, x-20, y-20, 40 ,40);
			
			var options = { minimumSignificantDigits : 2, maximumSignificantDigits : 2 };
			var distance = new Intl.NumberFormat(options).format(getDistanceToOrigin(originX, originY, x, y)/10);
			context.font = "10px Arial";
			context.fillText(simio.name + " " + distance, x+20, y-20); //escala
		}
		
		var getDistanceToOrigin = function(originX, originY, x, y) {
			var deltaX = Math.abs(originX - x);
			var deltaY = Math.abs(originY - y);
			return Math.sqrt(Math.pow(deltaX,2) + Math.pow(deltaY,2));
		}
	</script>
</section>  
</html>