<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>SIMIO</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/libs/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<link  rel="stylesheet" th:href="@{/css/libs/material.css}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" />
    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
	<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
	<input type="hidden" name="_csrf_header" th:value="${_csrf.headerName}"/>

	<header layout:include="Navbar"></header>
    
	<section layout:fragment="content">
		<p>Main Content</p>
	</section>

	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/material.js}"></script>
	<script th:src="@{/js/simio.js}"></script>
</body>
</html>