<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPattern">
	
<head>
<title>Login</title>
</head>
<body>

<section layout:fragment="content">
 
 	<br />
	<section class="main-content grey-back">
           <div class="container login-container screen-container">
               <div class="row mg-top-50">
                   <div class="col-md-4 col-md-offset-4 col-centered">
                       <h4 class="subtitle text-center">Preencha seu usuário e senha</h4>
                       <div class="alert alert-danger alert-dismissable error-alert" role="alert" th:if="${errorMessage != null}" >
					  		<strong>Erro!</strong> <span class="error-message" th:text="${errorMessage}"> Invalid credentials</span>
						</div>
                       <div class="form-group">
						<form class="form" th:action="@{/login}" method="POST">
                               <label for="user">Usuário</label>
                               <input class="form-control" type="text" name="username" placeholder="Preencha seu usuário..." />

                               <label for="pass">Senha</label>
                               <input class="form-control" type="password" name="password" placeholder="Preencha sua senha..."/>

								<br />
                               <button type="submit" class="btn btn-lg btn-primary btn-block"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Acessar conta</button>
                           </form>

                       </div>
                   </div>
               </div>
           </div>
       </section>
</section>  


 
 
</body>
</html>