<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPattern">
	
<head>
<title>Login</title>
</head>
<body>

<section layout:fragment="content">
 
	<div class="panel panel-default">
	 	<div class="panel-heading clearfix">
			<h1 class="panel-title aw-titulo-panel">Login</h1>
		</div>
	</div>
	<section class="main-content grey-back">
           <div class="container login-container screen-container">
               <div class="row mg-top-50">
                   <div class="col-md-6 col-md-offset-3 col-centered">
                       <h4 class="subtitle text-center">Preencha seu usuário e senha</h4>
                       <div class="widget">
						<form class="form" th:action="@{/login}" method="POST">
                               <label for="user">Usuário</label>
                               <input type="text" name="username" placeholder="Preencha seu usuário..." />

                               <label for="pass">Senha</label>
                               <input type="password" name="password" placeholder="Preencha sua senha..."/>

                               <button type="submit" class="btn btn-lg btn-primary btn-block"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Acessar conta</button>
                           </form>

                       </div>
                   </div>
               </div>
           </div>
       </section>
</section>  


 
 
</body>
</html>