<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPattern">
	
<head>
<title>Map</title>
</head>

<section layout:fragment="content">
	<img id="icon-simio" th:src="@{/images/icon-simio.jpg}" height="40" width="40" style="display: none;"/>
	<img id="ap-icon" th:src="@{/images/ap-icon.png}" height="40" width="40" style="display: none;"/>
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<h1 class="panel-title aw-titulo-panel">
				<i class="fa fa-mountain" aria-hidden="true"></i> MAP
			</h1>
		</div>
		
		<div class="panel-body">
            <div id="canvasDiv" class="col-md-8 col-md-offset-2 col-centered">
				<div id="graphDiv" th:attr="data-mapping=${mapping}, data-reference=${reference}, data-scale=${scale}, data-aps=${aps}">			
					<canvas id="graphCanvas" width="800" height="400" ></canvas>
				</div>
			</div>
		</div>
	</div>
	
	<th:block layout:fragment="javascript-extra">
	    <script th:src="@{/js/graph.js}"></script>
	</th:block>
</section>  
</html>